body {
	text-align: center;
	margin: 0 auto;
	max-width: 960px;
	padding-top: 2em;
	padding-bottom: 2em;
}
ul {
  list-style-type: none;
}
img {
  width: 50%;
}
code {
	text-align: left;
	margin: 2em 0;
}
table {
  margin: 0 auto;
  table-layout: fixed;
  width: 300px;
  height: 300px;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    word-wrap: break-word;
    line-height: 0;
}
